@font-face {
  font-family: Bitmap;
  src: url('./fonts/DinkieBitmap-9pxDemo.woff2') format('woff2');
}

.text-shadow {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.hover\:text-shadow:hover {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.font-bitmap {
  font-family: Bitmap, sans-serif;
}

.menu {
  position: relative;
}

.menu-item {
  position: absolute;
  top: 100%;
  display: none;
  white-space: nowrap;
}

.menu:hover .menu-item {
  display: block;
}
